@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "./dist/scss/variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.MuiPickersPopper-root {
  @media (min-width: $laptops) {
    transform: translate3d(900px, 0px, 0px) !important;
  }
  @media (min-width: $desktop) {
    transform: translate(476px, 565px) !important;
  }
}
